.walletDisconnect {
  display: flex;
  align-items: center;
  text-align: center; /* Дополнительное центрирование текста */
  justify-content: center;
  background-color: var(--bg-app);
  border: none;
  line-height: 1;
  padding: var(--numbers-4) var(--numbers-8);
  font-weight: var(--font-500);
  font-size: var(--numbers-16);
  border-radius: var(--roundings-medium);
  color: var(--text);
}
