.walletDisconnect {
  background-color: var(--bg-app);
  border: none;
  padding:  var(--numbers-8);
  font-weight: var(--font-500);
  font-size: var(--numbers-16);
  border-radius: var(--roundings-medium);
  color: var(--text);
}
