.container {
  text-align: center;
  padding: var(--numbers-20) 0;
}

.title {
  font-size: var(--numbers-20);
  color: var(--text);
  text-wrap: nowrap;
  margin-bottom: var(--numbers-4);
}

.desk {
  font-size: var(--numbers-14);
  color: var(--desk-text);
}

.image {
  display: flex;
  justify-content: center;
  margin: var(--numbers-36) 0;
}

.image img {
  max-height: 450px;
  max-width: 350px;
  width: auto;
  height: auto;
  object-fit: contain;
}
.countdown {
  margin-top: 20px;
  font-size: 14px;
  color: #666;
}
