.headerContainer {
  align-items: center;
  padding: var(--numbers-16);
  gap: var(--numbers-14);
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.07);
  border-radius: 14px;
  border-radius: 0 0 var(--roundings-medium) var(--roundings-medium);
  margin: -12px;
  background-color: var(--bg-surface);
}

.quranImage {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}

.titleHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nameHoly {
  font-size: var(--numbers-24);
  font-weight: bold;
}

.sahihInternational {
  display: flex;
  align-items: center;
  font-size: var(--numbers-16);
  color: var(--color-text-brand);
}

.diskHeader {
  font-size: var(--numbers-14);
  color: var(--desk-text);
  margin-bottom: var(--numbers-12);
}

.searchContainer {
  gap: var(--numbers-4);
  display: flex;
  align-items: center;
  border-radius: var(--roundings-medium);
  padding: var(--numbers-16) var(--numbers-12);
  background-color: var(--bg-app);
}

.searchInput {
  flex-grow: 1;
  border: none;
  outline: none;
  background: transparent;
  font-size: var(--numbers-16);
}
.searchInput::placeholder{
  color: var(--desk-text);
}
.blockChapter {
  display: flex;
  flex-direction: column;
  gap: var(--numbers-4);
}

.surahItem {
  display: flex;
  align-items: center;
  background-color: var(--color-background-secondary);
  border-radius: var(--roundings-medium);
  padding: var(--numbers-15);
  padding: var(--numbers-16);
  box-shadow: 0 var(--numbers-2) var(--numbers-8);
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.surahItem.selected {
  background-color: var(--color-background-semantic-dimmed-brand);
}

.surahNumber {
  font-size: var(--numbers-18);
  padding: var(--numbers-8) var(--numbers-12);
  background: var(--color-background-primary);
  border-radius: var(--roundings-small);
  font-weight: bold;
  padding: 10px 14px;
  background: var(--bg-app);
}

.surahName {
  font-size: var(--numbers-18);
  color: var(--color-text-primary);
  margin-bottom: var(--numbers-6);
  font-weight: bold;
}

.surahDescription {
  font-size: var(--numbers-14);
  color: var(--color-text-secondary);
  margin-bottom: var(--numbers-5);
  margin-bottom: var(--numbers-6);
}

.surahDetails {
  display: flex;
  align-items: center;
  gap: var(--numbers-10);
}

.ayahs {
  font-size: var(--numbers-14);
  color: var(--color-text-secondary);
}

.revelationType {
  display: flex;
  align-items: center;
  gap: var(--numbers-5);
  font-size: var(--numbers-14);
  color: var(--color-text-secondary);
}

.revelationType .searchIcon {
  width: 16px;
  height: 16px;
  color: var(--color-background-semantic-solid-success);
}
