.scanButtonContainer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  padding: var(--numbers-16) var(--numbers-16) var(--numbers-64)
    var(--numbers-16);
  background: var(--bg-surface);
  border-radius: var(--roundings-medium) var(--roundings-medium) 0 0;
}
.submitButton {
  background-color: var(--color-background-semantic-solid-brand);
  color: var(--color-text-inversed);
  border: none;
  width: 100%;
  display: flex;
  align-items: center;
  gap: var(--numbers-4);
  justify-content: center;
  padding: var(--numbers-16) var(--numbers-20);
  font-size: var(--numbers-16);
  border-radius: var(--roundings-medium);
  cursor: pointer;
}

.submitButton:hover {
  background-color: var(--colors-green-800);
}

.input:disabled {
  background-color: var(--color-background-secondary);
  color: #aaa;
  cursor: not-allowed;
}

.content {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0 16px;
  box-sizing: border-box;
}

.illustration img {
  max-height: 350px;
  padding: 55px 0;
  width: 100%;
  max-width: 220px;
  height: auto;
}

.halalCheck span {
  font-size: var(--numbers-20);
  color: var(--text);
  font-weight: 700;
  margin-bottom: var(--numbers-5);
  display: block;
}

.halalCheck p {
  font-size: var(--numbers-14);
  color: var(--desk-text);
  margin-top: 4px;
  align-items: center;
  display: flex;
  gap: 4px;
  line-height: 1.5;
}

.warning {
  outline: none;
  color: var(--desk-text);
  justify-content: center;
}

.rescanButton {
  display: flex;
  gap: var(--numbers-4);
  align-items: center;
  background-color: #15803d;
  color: white;
  padding: var(--numbers-12) var(--numbers-16);
}
