body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  background: #f9f9f9;
  color: #222;
}

button {
  background: var(--tg-theme-button-color, #50a8eb);
  color: var(--tg-theme-button-text-color, #ffffff);
  border: none;
  padding: 10px 16px;
  border-radius: 10px;
}