.prayerTimesQiblaContainer {
  border-radius: var(--roundings-medium);
  padding: var(--numbers-16);
  box-shadow: 0 var(--numbers-2) var(--numbers-8) rgba(0, 0, 0, 0.07);
  background-color: var(--bg-surface);
}

.titleFaceKaaba {
  align-items: center;
  font-weight: var(--font-600);
  display: flex;
  gap: var(--numbers-8);
  margin: var(--numbers-16) 0 var(--numbers-4);
}
.diskFaceKaaba {
  color: var(--desk-text);
  margin-bottom: var(--numbers-16);
  font-size: var(--numbers-14);
}

.qiblaBlockRow {
  display: flex;
  justify-content: center;
  gap: var(--numbers-4);
}

.permissionButtonPusle {
  animation: pulse 1.5s infinite;
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 rgba(22, 163, 74, 0.4);
  }
  50% {
    box-shadow: 0 0 0 8px rgba(22, 163, 74, 0);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(22, 163, 74, 0);
  }
}
.mapContainer {
  flex: 1;
}

.compassContainer {
  border-radius: var(--numbers-12);
  border: 2px solid var(--compass-circle-between);
}

.allowSensorButton {
  padding: var(--numbers-16) var(--numbers-12);
}

.locationMay {
  display: flex;
  gap: var(--numbers-4);
  align-items: center;
  margin-top: var(--numbers-8);
  font-size: var(--numbers-14);
  color: var(--desk-text);
}

.permissionRequest {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  color: #666;
  font-style: italic;
}

.allowSensorButton {
  margin: var(--numbers-4) auto;
  max-width: 420px;
  border: none;
  width: 100%;
  font-weight: var(--font-600);
  background-color: var(--compass-circle-small);
  padding: var(--numbers-12) var(--numbers-16);
  color: var(--text);
  border-radius: var(--roundings-medium);
}



.permissionButton {
  position: relative;
  z-index: 1001;
  border: none;
  border-radius: var(--roundings-medium);
  padding: var(--numbers-2) var(--numbers-6); 
  color: white;
  background-color: var(--compass-circle-small);
  font-weight: var(--font-500);
  font-size: var(--numbers-16);
  cursor: pointer;
  transition: background 0.2s;
}
