.en {
  font-family: var(--typography-body);
  direction: ltr;
}

.ar {
  font-family: "Noto Sans Arabic", "Segoe UI", sans-serif;
  direction: rtl;
}

.settingsContainer {
  padding: 16px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: var(--numbers-24);
}

.botTitle {
  font-size: var(--numbers-16);
  font-weight: 600;
  color: var(--color-text-primary);
}

.section {
  margin-bottom: var(--numbers-24);
}

.sectionTitle {
  font-size: var(--numbers-18);
  font-weight: 600;
  margin-bottom: var(--numbers-16);
}
.ar .sectionTitle{
  text-align: right;
}
.settingItem {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: var(--numbers-6) 0;
  padding: var(--numbers-12) var(--numbers-16);
  border-radius: var(--roundings-medium);
  cursor: pointer;
  background: var(--bg-surface);
  transition: transform 0.4s ease;
  gap: var(--numbers-16);
}

.settingItem:hover {
  transform: scale(1.02);
}

/* Левая часть: иконка + название */
.settingItemLeft {
  display: flex;
  align-items: center;
  gap: var(--numbers-8);
  flex: 1;
}

.iconWrapper {
  width: var(--numbers-24);
  height: var(--numbers-24);
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--text);
}

/* Правая часть: описание + стрелка */
.settingItemRight {
  display: flex;
  align-items: center;
  gap: var(--numbers-8);
}

.title {
  font-size: var(--numbers-16);
  font-weight: 500;
  color: var(--text);
  white-space: nowrap;
}

.description {
  font-size: var(--numbers-14);
  color: var(--desk-text);
  white-space: nowrap;
}

/* Для RTL (арабской версии) */
.ar .settingItem {
  flex-direction: row-reverse;
}

.ar .settingItemLeft {
  flex-direction: row-reverse;
}

.ar .settingItemRight {
  flex-direction: row-reverse;
}

.ar .iconWrapper {
  margin-right: 0;
  margin-left: 0;
}

.ar .chevronIcon {
  transform: rotate(180deg);
}