.friendsContainer {
  gap: var(--numbers-4);
  display: flex;
  flex-direction: column;
}

.card {
  background: var(--bg-surface);
  border-radius: var(--roundings-medium);
  padding: var(--numbers-16);
}

.progressSection {
  display: flex;
  font-weight: var(--font-600);
  gap: var(--numbers-8);
  align-items: center;
}

.cardTitle {
  font-size: var(--numbers-20);
  font-weight: var(--font-600);
  margin-bottom: var(--numbers-2);
  color: var(--text);
}

.cardDesc {
  font-size: var(--numbers-14);
  color: var(--desk-text);
  margin-bottom: var(--numbers-8);
  font-family: var(--typography-body);
}

.inviteBtn,
.rewardBtn {
  background: var(--colors-green-700);
  color: var(--colors-white-1000);
  border: none;
  border-radius: var(--roundings-medium);
  padding: var(--numbers-12) var(--numbers-24);
  font-size: var(--numbers-16);
  cursor: pointer;
  margin-top: var(--numbers-6);
}

.progressBarContainer {
  width: 100%;
  height: var(--numbers-12); 
  background: var(--color-background-secondary);
  border-radius: var(--roundings-small);
  overflow: hidden;
}

.progressBar {
  height: 100%;
  background: var(--progress-bar);
  border-radius: var(--roundings-small);
  transition: width 0.3s;
}

.progressLabel {
  font-size: var(--numbers-16);
  color: var(--text);
  text-align: right;
  margin-bottom: 0;
  font-family: var(--typography-body);
}

.emptyTitle {
  font-size: var(--numbers-20);
  font-weight: var(--font-600);
  color: var(--text);
  margin-top: var(--numbers-16);
}

.emptyDesc {
  font-size: var(--numbers-14);
  font-weight: 400;
  color: var(--desk-text);
  line-height: 1.5;
}

.friendsList {
  display: flex;
  flex-direction: column;
  gap: var(--numbers-4);
  margin: var(--numbers-12) 0;
}
.friendItem {
  justify-content: space-between;
  align-items: center;
  display: flex;
  background: var(--bg-surface);
  padding: var(--numbers-14) var(--numbers-16);
  border-radius: var(--roundings-medium);
}
.friendName {
  color: var(--text);
  font-weight: var(--font-600);
  font-size: var(--numbers-16);
}
.friendStatus {
  color: var(--text);
  font-weight: var(--font-500);
  font-size: var(--numbers-14);
}
.accepted {
  border: 2px solid var(--bg-app);
  background: var(--bg-surface);
}

.purchased {
  background: var(--bg-app);
}

.checkBlock{
  align-items: center;
  color: var(--text);
  border-radius: var(--roundings-small);
  display: flex;
  gap: var(--numbers-4);
  padding: var(--numbers-8);
}



















