.friendsContainer {
  gap: var(--numbers-4);
  display: flex;
  flex-direction: column;
}

.card {
  background: var(--bg-surface);
  border-radius: var(--roundings-medium); 
  padding: var(--numbers-16);
  flex-direction: column;
}

.progressSection {
  display: flex;
  font-weight: 600;
  gap: var(--numbers-8);
}

.cardTitle {
  font-size: var(--numbers-20);
  font-weight: 600;
  margin-bottom: var(--numbers-2);
  display: flex;
  align-items: center;
  font-family: var(--typography-heading);
  color: var(--text);
}

.cardDesc {
  font-size: var(--numbers-14); 
  color: var(--color-text-secondary);
  margin-bottom: var(--numbers-8);
  font-family: var(--typography-body);
}

.inviteBtn, .rewardBtn {
  background: var(--colors-green-700); /* #15803D */
  color: var(--colors-white-1000);
  border: none;
  border-radius: var(--roundings-medium);
  padding: var(--numbers-12) var(--numbers-24);
  font-size: var(--numbers-16);
  cursor: pointer;
  margin-top: var(--numbers-6);
  font-family: var(--typography-body);
}

.progressBarContainer {
  width: 100%;
  height: var(--numbers-12); /* 10px ≈ 12px */
  background: var(--color-background-secondary);
  border-radius: var(--roundings-small);
  overflow: hidden;
}

.progressBar {
  height: 100%;
  background: var(--color-text-primary);
  border-radius: var(--roundings-small);
  transition: width 0.3s;
}

.progressLabel {
  font-size: var(--numbers-16);
  color: var(--color-text-primary);
  text-align: right;
  margin-bottom: 0;
  font-family: var(--typography-body);
}