.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: var(--numbers-16);
}
.formattedDate {
  cursor: pointer;
  color: var(--desk-text);
  font-size: var(--numbers-14);
  margin-top: var(--numbers-4);
}

.buyPremiumButton {
  display: flex;
  align-items: center;
  gap: var(--numbers-4);
  background: var(--color-background-semantic-solid-brand);
  color: var(--color-text-inversed);
  border: none;
  white-space: nowrap;
  border-radius: var(--roundings-medium);
  padding: var(--numbers-12) var(--numbers-18);
  font-size: var(--numbers-16);
  cursor: pointer;
  transition: all 0.2s ease;
}

.buyPremiumButton svg {
  color: currentColor;
  stroke: currentColor;
}
.DaysLeftPrem {
  background: var(--bg-surface);
  color: var(--text);
  display: flex;
  align-items: center;
  gap: var(--numbers-4);
  border: none;
  white-space: nowrap;
  border-radius: var(--roundings-medium);
  padding: var(--numbers-12) var(--numbers-18);
  font-size: var(--numbers-16);
  box-shadow: 0 var(--numbers-2) var(--numbers-4) rgba(0, 0, 0, 0.1);
  transition: all 0.2s ease;
}
.DaysLeftPrem svg {
  color: currentColor;
  stroke: currentColor;
}
