.welcomeRoot {
  display: flex;
  flex-direction: column;
  align-items: center;
}


.welcomeTitle {
  padding: var(--numbers-36) 0 var(--numbers-4) 0;
  font-weight: var(--font-600);
  font-size: var(--numbers-20);
  text-align: center;
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.welcomeDesc {
  font-size: var(--numbers-14);
  color: var(--desk-text);
  text-align: center;
  padding: 0 var(--numbers-32);
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.welcomeImage img {
  max-height: 400px;
  max-width: 100%;
  height: auto;
  width: auto;
  object-fit: contain;
}

.welcomeBottom {
  width: 100%;
  padding: var(--numbers-8);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.welcomePagination {
  display: flex;
  background: var(--bg-surface);
  border-radius: var(--roundings-medium);
  padding: var(--numbers-8);
  gap: var(--numbers-8);
  margin-bottom: var(--numbers-20);
}

.welcomeDot {
  width: var(--numbers-12);
  height: var(--numbers-12);
  border-radius: 50%;
  background: #e7e5e4;
  transition: background 0.2s ease;
}

.welcomeDotActive {
  background: var(--color-text-brand);
}

.welcomeButton {
  width: 90%;
  max-width: 360px;
  background: var(--color-background-semantic-solid-brand);
  color: var(--color-text-inversed);
  border: none;
  border-radius: var(--roundings-medium);
  padding: var(--numbers-18) 0;
  font-size: var(--numbers-18);
  font-weight: var(--font-600);
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.1s ease, background 0.2s ease;
}

.welcomeButton:active {
  transform: scale(0.98);
}
