.contactContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.title {
  font-size: var(--numbers-20);
  font-weight: var(--font-600);
  margin-bottom: 8px;
}

.text {
  font-size: var(--numbers-14);
  color: var(--desk-text);
  margin-bottom: 24px;
}

.contactButton {
  display: flex;
  align-items: center;
  gap: var(--numbers-4);
  background: var(--color-background-semantic-solid-brand);
  color: var(--color-text-inversed);
  border: none;
  white-space: nowrap;
  border-radius: var(--roundings-medium);
  padding: var(--numbers-12) var(--numbers-18);
  font-size: var(--numbers-16);
  cursor: pointer;
  transition: all 0.2s ease;
  width: fit-content;
}
.contactButton svg {
  color: currentColor;
  stroke: currentColor;
}
