/* MenuBlocks.module.css */
.menu {
  margin: var(--numbers-6) 0 var(--numbers-16) 0;
  max-width: 395px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: var(--numbers-6);
  box-sizing: border-box;
}

.menuItem {
  display: flex;
  align-items: center;
  justify-content: space-between; /* Равномерное распределение */
  background: var(--bg-surface);
  border-radius: var(--roundings-medium);
  box-shadow: 0 var(--numbers-1) var(--numbers-4) rgba(0, 0, 0, 0.04);
  padding: var(--numbers-12) var(--numbers-13);
  cursor: pointer;
}

.menuItem:hover {
  transition: transform 0.3s ease;
  transform: scale(1.01);
}

.contentWrapper {
  display: flex;
  align-items: center;
  gap: var(--numbers-12); /* Отступ между иконкой и текстом */
  flex: 1; /* Занимает всё доступное пространство */
}

.menuText {
  display: flex;
  flex-direction: column;
  justify-content: center; /* Выравнивание текста по вертикали */
}

.menuTitle {
  font-weight: var(--font-600);
  font-size: var(--numbers-16);
  margin-bottom: var(--numbers-2);
}

.menuDesc {
  font-size: var(--numbers-14);
  color: var(--desk-text);
}

.menuArrow {
  color: var(--color-icon-tetriary);
  flex-shrink: 0; /* Предотвращает сжатие стрелки */
}

.iconImage {
  width: var(--numbers-36);
  height: var(--numbers-36);
  flex-shrink: 0; /* Предотвращает сжатие иконки */
}