.container {
  display: flex;
  flex-direction: column;
  min-height: 95.5vh;
  width: 100%;
  box-sizing: border-box;
}

.button:hover {
  transform: scale(1.02);
}

.form {
  padding: var(--numbers-16) var(--numbers-16) var(--numbers-64) var(--numbers-16);
  background: var(--bg-surface);
  box-shadow: 0 -4px 20px rgba(0, 0, 0, 0.1);
  display: flex;
  border-radius: var(--roundings-medium) var(--roundings-medium) 0 0;
  margin: -24px -12px;
  flex-direction: column;
  align-items: center;
}

.input {
  border: none;
  color: var(--text);
  width: 100%;
  padding: var(--numbers-16);
  font-size: var(--numbers-16);
  background: var(--bg-app);
  border-radius: var(--roundings-medium);
  box-sizing: border-box;
  margin-bottom: var(--numbers-4);
  outline: none;
}

.submitButton {
  background-color: var(--color-background-semantic-solid-brand);
  color: var(--color-text-inversed);
  border: none;
  width: 100%;
  display: flex;
  align-items: center;
  gap: var(--numbers-4);
  justify-content: center;
  padding: var(--numbers-16) var(--numbers-20);
  font-size: var(--numbers-16);
  border-radius: var(--roundings-medium);
  cursor: pointer;
  transition: background 0.2s ease;
}

.submitButton:hover {
  background-color: var(--colors-green-800);
}

.input:disabled {
  background-color: var(--color-background-secondary);
  color: #aaa;
  cursor: not-allowed;
}

.content {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0 var(--numbers-16);
  margin-bottom: var(--numbers-16);
  box-sizing: border-box;
  width: 100%;
  max-width: 420px;
  margin: 0 auto;
}

.illustration img {
  max-height: 300px;
  padding: var(--numbers-30) 0;
  width: 100%;
  height: auto;
  object-fit: contain;
}

.guidance span {
  display: block;
  font-size: var(--numbers-20);
  font-weight: var(--font-600);
  letter-spacing: var(--letter-spacing-tighter);
  margin-bottom: var(--numbers-6);
}
.guidance p {
  font-size: var(--numbers-14);
  color: var(--desk-text);
  margin-bottom: var(--numbers-16);
  font-weight: var(--font-400);
  letter-spacing: var(--letter-spacing-wide);
}


.submitButton:disabled:hover {
  transform: none;
}